@layout('index')

@section('content')
<body class="ready page-about">
<menu><hamburger><slice></slice><slice></slice><slice></slice></hamburger><table><td><a href='.'><table><td>{{ antl.get('main.gethelp_page_title') }}</td></table></a><a href='/#givehelp'><table><td>{{ antl.get('main.givehelp_page_title') }}</td></table></a><a href='/#safety'><table><td>{{ antl.get('main.safety_page_title') }}</td></table></a><a href='/#about'><table><td>{{ antl.get('main.about_page_title') }}</td></table></a></td></table></menu>
<table class='section about'>
  <tr>
    <td>
      <h1>General Data Protection Policy</h1>
    <p class="c1">
      <span class="c2 c3">1.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;INTRODUCTION</span>
    </p>
    <p class="c1">
      <span class="c0">At Eka ry</span>
      <span class="c2 c0">, we know you care about your personal
      privacy. In this General Data Protection Policy (the
      &#8220;Policy&#8221;) we describe how we collect personal data
      from you as a customer of [company] (hereinafter
      &#8220;you&#8221;, &#8220;your&#8221;, &#8220;user&#8221;) and
      why we collect it, what we do with your personal data, with whom
      we share it, how we protect it, and the choices you can make
      about how we use your personal data.</span>
    </p>
    <p class="c1">
    <span class="c0">This Policy applies to any of your personal data
    collected and used, or processed by or on behalf of Eka ry, a
    registered non-profit association organized and existing under the
    laws of Finland, with registered office at PL 171 00121 Helsinki,
    Finland, registered with the legal entities register under
    number</span> 
    <span class="c0 c10">
      <a class="c5" href="mailto:privacy@eka.to">privacy@eka.to</a>
    </span>
    <span class="c2 c0">&#160;(hereinafter &#8220;[company]&#8221;,
    &#8220;us&#8221; or &#8220;we&#8221;) in the framework of your use
    the mobile application (the &#8220;App&#8221;), or other services
    (collectively the &#8220;Services&#8221; or
    &#8220;Service&#8221;).</span></p>
    <p class="c1">
      <span class="c2 c0">This Policy is complemented with specific
      privacy notices related to particular Services and which we will
      provide you with whenever we require your personal data (for
      example, via individual communication services, newsletters,
      reminders, surveys, offers, events, etc.).</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Except as described herein, we do not sell,
      rent or otherwise share or disclose your personal information to
      third parties, unless specifically requested by you and
      permission granted by you through the Eka ry service.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">If you accept the provisions of this Policy,
      you are agreeing to us processing your personal data in the ways
      that are set out in this Policy.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">At the end of this Policy, you will find some
      definitions of certain key concepts used in this Policy and which
      are capitalised (for example, Personal Data, Processing, Data
      Controller&#8230;).</span>
    </p>
    <p class="c1">
      <span class="c2 c3">2.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;WHO
      IS RESPONSIBLE FOR THE PROCESSING OF YOUR PERSONAL DATA?</span>
    </p>
    <p class="c1" id="h.gjdgxs">
      <span class="c2 c0">Eka ry</span>
    </p>
    <p class="c1">
      <span class="c2 c0">PL 171 00121 Helsinki, Finland</span>
    </p>
    <p class="c1">
      <span class="c2 c3">3.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;WHO
      CAN YOU CONTACT IN CASE YOU HAVE QUESTIONS OR REQUESTS? OUR DATA
      PROTECTION COORDINATOR &#8211; THE DATA PROTECTION CONTACT
      POINT</span>
    </p>
    <p class="c1">
      <span class="c2 c0">We have appointed a Data Protection
      Coordinator to handle your questions or requests relating to this
      Policy or your Personal Data (and the way we Process it); for
      example when you want to exercise your rights, such as your
      rights of access, rectification, or restriction,
      portability&#8230; (You want to learn more about the rights you
      have to your personal data? Learn more in section 7).</span>
    </p>
    <p class="c1">
      <span class="c2 c0">&#160;You can contact the Data Protection
      Coordinator via the Data Protection Contact Point at:</span>
    </p>
    <ul class="c9 lst-kix_23rttiy2yy5s-0 start">
      <li class="priv c1 c8">
        <span class="c10 c0">
          <a class="c5"
          href="mailto:privacy@eka.to">privacy@eka.to</a>
        </span>
      </li>
    </ul>
    <p class="c1">
      <span class="c2 c0">We will do our best to respond to your
      questions as soon as possible.</span>
    </p>
    <p class="c1 c15"></p>
    <p class="c1 c15"></p>
    <p class="c1">
      <span class="c2 c3">4.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;KEY
      PRINCIPLES</span>
    </p>
    <p class="c1">
      <span class="c2 c0">We value your Personal Data entrusted to us
      and we are committed to Processing your Personal Data in a fair,
      transparent and secure way. The key principles Eka ry applies are
      as follows:</span>
    </p>
    <ul class="c9 lst-kix_list_6-0 start">
      <li class="priv c12 c11">
        <span class="c2 c0">Lawfulness: we will only collect your
        Personal Data in a fair, lawful and transparent manner.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Data minimisation: we will limit the
        collection of your Personal Data to what is directly relevant
        and necessary for the purposes for which they have been
        collected.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Purpose limitation: we will only collect
        your Personal Data for specified, explicit and legitimate
        purposes and not Process your Personal Data further in a way
        incompatible with those purposes.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Accuracy: we will keep your Personal Data
        accurate and up to date.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Data security and protection: we will
        implement appropriate technical and organisational measures to
        ensure an appropriate level of data security and protection in
        relation to, among others, the nature of your Personal Data to
        be protected. Such measures provide for the prevention of any
        unauthorised disclosure or access, accidental or unlawful
        destruction or accidental loss, or alteration and any other
        unlawful form of Processing.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Access and rectification: we will Process
        your Personal Data in line with your legal rights.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Retention limitation: we will retain your
        Personal Data in a manner consistent with the applicable data
        protection laws and regulations and no longer than is necessary
        for the purposes for which they have been collected.</span>
      </li>
      <li class="priv c12 c11">
        <span class="c2 c0">Protection for international transfers: we
        will ensure that any of your Personal Data transferred outside
        the EEA is adequately protected.</span>
      </li>
      <li class="priv c11 c12">
        <span class="c2 c0">Safeguards towards third parties: we will
        ensure that access to and transfers of your Personal Data to
        third parties are carried out in accordance with applicable law
        and with suitable contractual safeguards.</span>
      </li>
      <li class="priv c1 c11">
        <span class="c2 c0">Lawfulness of direct marketing and cookies:
        when we send you promotional materials or place cookies on your
        computer, we will ensure that we do so in accordance with
        applicable law.</span>
      </li>
    </ul>
    <p class="c1">
      <span class="c2 c3">5.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;DATA
      COLLECTION: WHICH PERSONAL DATA DO WE COLLECT AND ON WHICH LEGAL
      GROUNDS?</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Whenever we require your Personal Data, we
      will always clearly inform you which of your Personal Data we
      collect.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Please note that in accordance with
      applicable data protection law, your Personal Data can be
      Processed if:</span>
    </p>
    <p class="c1">
      <span class="c2 c0">-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;you
      have given us your consent for the purposes of the Processing (as
      described in the privacy notice related to that particular
      Processing). For the avoidance of doubt, you will always have the
      right to withdraw your consent at any time; or</span>
    </p>
    <p class="c1">
      <span class="c2 c0">-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;it
      is necessary for the performance of an agreement to which you are
      a party; or</span>
    </p>
    <p class="c1">
      <span class="c2 c0">-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;it
      is required by law.</span>
    </p>
    <p class="c1">
      <span class="c0">The Eka ry</span>
      <span class="c2 c0">&#160;Services specifically collects
      information from you at several different points, including but
      not limited to the following:</span>
    </p>
    <ul class="c9 lst-kix_list_9-0 start">
      <li class="priv c1 c11">
        <span class="c2 c3">INFORMATION YOU PROVIDE TO US</span>
      </li>
    </ul>
    <p class="c1">
      <span class="c0">Eka ry</span>
      <span class="c0">&#160;primarily collects the information you
      provide as a Eka ry</span>
      <span class="c2 c0">&#160;customer to (one of) the Services,
      including:</span>
    </p>
    <ul class="c9 lst-kix_u0un0nye4wn-0 start">
      <li class="priv c1 c8">
        <span class="c2 c0">First name</span>
      </li>
      <li class="priv c1 c8">
        <span class="c2 c0">Last name</span>
      </li>
      <li class="priv c1 c8">
        <span class="c2 c0">Facebook ID</span>
      </li>
      <li class="priv c1 c8">
        <span class="c0">Location</span>
      </li>
    </ul>
    <p class="c1">
    <span class="c0">Eka ry</span> 
    <span class="c2 c0">will treat any information of you as a customer
    as confidential and will not disclose it to any third party without
    your consent.</span></p>
    <p class="c1">
      <span class="c2 c0">We do not rent, sell or otherwise disclose
      personal information for activities that are not part of the
      Services.</span>
    </p>
    <ul class="c9 lst-kix_list_9-0">
      <li class="priv c1 c11">
        <span class="c2 c3">CORRESPONDENCE</span>
      </li>
    </ul>
    <p class="c1">
      <span class="c0">If you correspond with us via e-mail, the postal
      service, or other form of communication, we may retain such
      correspondence and the information contained therein and use such
      to respond to your inquiry and/or notify you of Eka ry</span>
      <span class="c2 c0">&#160;news or other Service-related
      information. Importantly, e-mail and postal address information
      is never sold, given, or otherwise shared or disclosed to third
      parties except as set forth herein.</span>
    </p>
    <ul class="c9 lst-kix_list_9-0">
      <li class="priv c1 c11">
        <span class="c2 c3">INFORMATION FROM OTHER SOURCES</span>
      </li>
    </ul>
    <p class="c1">
      <span class="c0">We may receive information about you from other
      sources, such as our agents, vendors, subscribers and service
      providers, and from publicly available sources.</span>
    </p>
    <ul class="c9 lst-kix_list_9-0">
      <li class="priv c1 c11">
        <span class="c2 c3">URL AND IP ADDRESS</span>
      </li>
    </ul>
    <p class="c1">
      <span class="c2 c0">We collect information about our
      customers&#8217; utilization and navigation of our Services. This
      information helps us to design our Services to better suit our
      customer&#39; needs. We may also use your IP address to help
      diagnose problems with our server and to administer our Services,
      analyse trends, track visitor movements, and gather broad
      demographic information that assists us in identifying visitor
      preferences.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">6.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;FOR
      WHICH PURPOSES DO WE PROCESS YOUR PERSONAL DATA?</span>
    </p>
    <p class="c1">
      <span class="c2 c0">We will only Process your Personal Data for
      specified, explicit and legitimate purposes and we will not
      Process your Personal Data further in a way that is incompatible
      with those purposes.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Such purpose can be the improvement of your
      visit on our Website or App, or the offering of Services.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">The purpose of each Processing of your
      Personal Data will be clearly defined in the specific privacy
      notice relating to that particular Processing. This privacy
      notice will be accessible on, for example, the Website, the App,
      in an electronic newsletter, etc.).</span>
    </p>
    <p class="c1">
      <span class="c2 c3">7.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;YOUR
      CHOICES AND RIGHTS (DATA SUBJECT RIGHTS)</span>
    </p>
    <p class="c1">
      <span class="c0 c2">We want to be transparent with you, so that
      you can make meaningful choices about how you want us to use your
      Personal Data.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">7.1.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Your
      Rights as a Data Subject</span>
    </p>
    <ul class="c9 lst-kix_list_12-0 start">
      <li class="priv c4">
        <span class="c16 c0">Your choices on how you want to be
        contacted</span>
      </li>
    </ul>
    <p class="c6">
      <span class="c2 c0">In this context, you can make a variety of
      choices about how you want to be contacted by us, through which
      channel (for example, email, mail, social media, phone&#8230;),
      for which purpose and how frequently, by adjusting the privacy
      setting on the relevant device or updating your user or account
      profile or by following the unsubscribe instructions included in
      the communication.</span>
    </p>
    <p class="c6">
      <span class="c2 c0">Please note that by default, if you
      don&#8217;t make a choice, you will receive our promotional
      communications at the normal frequency of the publication
      involved.</span>
    </p>
    <ul class="c9 lst-kix_list_12-0">
      <li class="priv c4">
        <span class="c16 c0">Your Personal Data</span>
      </li>
    </ul>
    <p class="c6">
      <span class="c2 c0">You may always contact the Data Protection
      Coordinator at the Contact Point (see section 3 &#8220;Who can
      you contact in case you have questions or requests?&#8221;) to
      find out what Personal Data we have concerning you and its
      origin. You have the right to receive your Personal Data, which
      you have provided to us, in a commonly used, structured
      machine-readable format and to transmit your Personal Data to any
      third party of your choice.</span>
    </p>
    <ul class="c9 lst-kix_list_12-0">
      <li class="priv c4">
        <span class="c0 c16">Your corrections</span>
      </li>
    </ul>
    <p class="c6">
      <span class="c2 c0">If you find any mistake in your Personal Data
      or if you find it incomplete or incorrect, you may also require
      from us that we correct or complete it.</span>
    </p>
    <ul class="c9 lst-kix_list_12-0">
      <li class="priv c4">
        <span class="c16 c0">Your restrictions</span>
      </li>
    </ul>
    <p class="c6">
      <span class="c2 c0">You have the right to request a restriction
      on the Processing of your Personal Data insofar allowed by the
      law. In practical the restriction on the Processing of Personal
      Data means the marking of stored personal data with the aim of
      limiting their processing in the future.</span>
    </p>
    <ul class="c9 lst-kix_list_12-0">
      <li class="priv c4">
        <span class="c16 c0">Your objections</span>
      </li>
    </ul>
    <p class="c6">
      <span class="c2 c0">You may also object to the use of your
      Personal Data for direct marketing purpose (if you prefer, you
      can also indicate to us through which channel and how frequently
      you prefer to be contacted by us) or to the sharing of your
      Personal Data with third party for the same purpose.</span>
    </p>
    <p class="c6">
      <span class="c2 c0">You may withdraw your consent at any time to
      the continued processing of the Personal Data that you have
      supplied to us by contacting the Data Protection Coordinator at
      Contact Point (see section 3 &#8220;Who can you contact in case
      you have questions or requests?&#8221;).</span>
    </p>
    <p class="c7">
      <span class="c2 c0">Moreover, you may require us to erase any
      data concerning you (except in some cases, for example to prove a
      transaction or when required by law).</span>
    </p>
    <p class="c7">
      <span class="c2 c0">Finally, please note that you have the right
      to file a complaint against the Data Controller with the relevant
      data protection supervisory authority.</span>
    </p>
    <p class="c7">
      <span class="c2 c3">7.2.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Your
      California Privacy Rights</span>
    </p>
    <p class="c7">
      <span class="c16 c0">California Consumer Privacy Act
      (CCPA)</span>
    </p>
    <p class="c7">
    <span class="c2 c0">In the last twelve months,</span> 
    <span class="c0">Eka ry</span>
    <span class="c2 c0">&#160;may have collected, used, and shared, for
    business purposes, personal information about you as described in
    this privacy statement. Each category of data may be used by</span>
    
    <span class="c0">Eka ry</span> 
    <span class="c2 c0">or shared with third parties also as described
    in this Privacy Statement.</span></p>
    <p class="c7">
    <span class="c2 c0">Residents of California have the right to
    request access to and deletion of the information</span>
    <span class="c0">&#160;Eka ry</span> 
    <span class="c2 c0">holds about them. Such requests may be
    submitted by email to</span> 
    <span class="c10 c0">
      <a class="c5" href="mailto:privacy@eka.to">privacy@eka.to</a>
    </span>
    <span class="c2 c0">&#160;or contact the Data Protection
    Coordinator at the Contact Point (see section 3 &#8220;Who can you
    contact in case you have questions or requests?&#8221;).</span></p>
    <p class="c7">
      <span class="c0">EKA RY</span>
      <span class="c2 c0">&#160;WILL NOT SELL YOUR PERSONAL INFORMATION
      WITHOUT YOUR CONSENT.</span>
    </p>
    <p class="c7">
      <span class="c2 c0">[company] will not discriminate against you
      for exercising your rights under CCPA. Specifically, we will
      not:</span>
    </p>
    <ul class="c9 lst-kix_list_14-0 start">
      <li class="priv c13 c8">
        <span class="c2 c0">Deny access to our Website, App, or
        Services;</span>
      </li>
      <li class="priv c13 c8">
        <span class="c2 c0">Charge a different rate for the use of our
        Website, App, or Services; or</span>
      </li>
      <li class="priv c8 c13">
        <span class="c2 c0">Provide a different quality of
        service.</span>
      </li>
    </ul>
    <p class="c7">
      <span class="c16 c0">California Shine the Light</span>
    </p>
    <p class="c7">
      <span class="c2 c0">Residents of the State of California, under
      California Civil Code Ǡ1798.83, have the right to request from
      companies conducting business in California a list of all third
      parties to which the company has disclosed personal information
      during the preceding year for direct marketing purposes.
      Alternatively, the law provides that if the company has a privacy
      policy that gives either an opt-out or opt-in choice for use of
      your personal information by third parties (such as advertisers)
      for marketing purposes, the company may instead provide you with
      information on how to exercise your disclosure choice
      options.</span>
    </p>
    <p class="c7">
      <span class="c2 c0">[company] qualifies for the alternative
      option. We have a comprehensive privacy statement, and provide
      you with details on how you may either opt-out or opt-in to the
      use of your personal information by third parties for direct
      marketing purposes. Therefore, we are not required to maintain or
      disclose a list of the third parties that received your personal
      information for marketing purposes during the preceding
      year.</span>
    </p>
    <p class="c7">
    <span class="c2 c0">If you are a California resident and request
    information about how to exercise your third-party disclosure
    choices or CCPA rights, requests may be submitted by email
    to</span> 
    <span class="c10 c0">
      <a class="c5" href="mailto:privacy@eka.to">privacy@eka.to</a>
    </span>
    <span class="c0">&#160;</span>
    <span class="c2 c0">or contact the Data Protection Coordinator at
    the Contact Point (see section 3 &#8220;Who can you contact in case
    you have questions or requests?&#8221;).</span></p>
    <p class="c7 c15"></p>
    <p class="c1">
      <span class="c2 c3">8.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;HOW
      TO KEEP YOUR PERSONAL DATA ACCURATE AND UP TO DATE?</span>
    </p>
    <p class="c1">
      <span class="c2 c0">It is important for us to maintain accurate
      and up-to-date records of your Personal Data. Please inform us of
      any changes to or errors in your Personal Data as soon as
      possible by contacting the Data Protection Coordinator at the
      Contact Point (see section 3 &#8220;Who can you contact in case
      you have questions or requests?&#8221;. We will take reasonable
      steps to make sure that any inaccurate or outdated Personal Data
      is deleted or adjusted accordingly.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">9.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;HOW
      TO ACCESS YOUR PERSONAL DATA?</span>
    </p>
    <p class="c1">
      <span class="c2 c0">You have the right to access your Personal
      Data which are Processing and, if your Personal Data is
      inaccurate or incomplete, to request the rectification or erasure
      of your Personal Data.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">If you require further information in
      relation to your privacy rights or would like to exercise any of
      these rights, please contact the Data Protection Coordinator at
      the Contact Point (see section 3 &#8220;Who can you contact in
      case you have questions or requests?&#8221;).</span>
    </p>
    <p class="c1">
      <span class="c2 c3">10.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;HOW
      LONG DO WE KEEP YOUR PERSONAL DATA?</span>
    </p>
    <p class="c1">
      <span class="c2 c0">We will keep your Personal Data in a manner
      consistent with applicable data protection law. We will only keep
      your Personal Data for as long as necessary to comply with the
      law or for the purposes for which we Process your Personal Data.
      &#160;</span>
    </p>
    <p class="c1">
      <span class="c2 c0">For information on how long certain Personal
      Data is likely to be kept before being removed from our systems
      and databases, please contact the Data Protection Coordinator at
      the Contact Point (see section 3 &#8220;Who can you contact in
      case you have questions or requests?&#8221;).</span>
    </p>
    <p class="c1">
      <span class="c2 c3">11.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;KEEPING
      YOUR PERSONAL DATA SECURE</span>
    </p>
    <p class="c1">
      <span class="c2 c0">We ensure that appropriate technical and
      organisational security measures are taken against unlawful or
      unauthorised access or use of your Personal Data, as well as
      against accidental loss or damage to the integrity of your
      Personal Data.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">We update and test our security technology on
      an ongoing basis. We restrict access to your Personal Data to
      those employees who need to know that information to provide
      benefits or services to you. In addition, we train our employees
      about the importance of confidentiality and maintaining the
      privacy and security of your information. We commit to taking
      appropriate disciplinary measures to enforce our employees&#39;
      privacy responsibilities.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Your Personal Data will only be Processed by
      a third party Data Processor if that Data Processor agrees to
      comply with those technical and organisational data security
      measures.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Maintaining data security means guaranteeing
      the confidentiality, integrity and availability of your Personal
      Data:</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(a)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Confidentiality:
      we will protect your Personal Data from disclosure to third
      parties.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(b)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Integrity:
      we will protect your Personal Data from being modified by
      unauthorised third parties.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(c)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Availability:
      we will ensure that authorized parties are able to access your
      Personal Data when needed.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">12. USE OF COOKIES, WEB BEACONS OR SIMILAR
      DEVICES</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Cookies are pieces of data that a website
      transfers to a user&#39;s hard drive for record-keeping purposes.
      Web beacons are transparent pixel images that are used in
      collecting information about web usage, e-mail response and
      tracking.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">The Website uses cookies and web beacons to
      provide enhanced functionality on the Website (e.g., user ID and
      password prompts) and aggregate traffic data (e.g., what pages
      are the most popular).</span>
    </p>
    <p class="c1">
      <span class="c0">These cookies may be delivered in a first-party
      or third party context. Eka ry</span>
      <span class="c2 c0">&#160;may also use cookies and web beacons in
      association with e-mails delivered by Eka ry. Our Website also
      captures limited information (user-agent, HTTP referrer, last URL
      requested by the user, client-side and server-side clickstream)
      about visits to our Website; we may use this information to
      analyse general traffic patterns and to perform routine system
      maintenance. You have many choices with regards to the management
      of cookies on your computer. All major browsers allow you to
      block or delete cookies from your system. To learn more about
      your ability to manage cookies and web beacons, please consult
      the privacy features in your browser.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">13.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;DISCLOSURE
      OF PERSONAL DATA</span>
    </p>
    <p class="c1">
      <span class="c2 c0">For the purposes for which we collect your
      Personal Data, we may disclose your Personal Data to the
      following categories of recipients:</span>
    </p>
    <p class="c1">
      <span class="c2 c0">a)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Authorised
      staff members of Eka ry;</span>
    </p>
    <p class="c1">
      <span class="c2 c0">b)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Affiliates
      and subsidiary companies of Eka ry;</span>
    </p>
    <p class="c1">
      <span class="c2 c0">d)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Our
      advertising, marketing and promotional agencies: to help us
      deliver and analyse the effectiveness of our advertising
      campaigns and promotions;</span>
    </p>
    <p class="c1">
    <span class="c0">e)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Business
    partners:</span> 
    <span class="c0">trusted companies that may use your Personal Data
    to provide you with the Service(s) you requested and/or that may
    provide you with marketing materials (provided that you have
    consented to receiving such marketing materials). We ask such
    companies to always act in compliance with applicable laws and this
    Policy and to pay high attention to the confidentiality of your
    personal information.</span></p>
    <p class="c1">
    <span class="c0">f)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;</span>
    <span class="c0">Service providers: companies that provide Services
    for or on behalf of</span> 
    <span class="c0">Eka ry</span>
    <span class="c0">, for the purposes of providing such Services. For
    example,</span> 
    <span class="c0">Eka ry</span>
    <span class="c0">&#160;may share your Personal Data
    with:</span></p>
    <ul class="c9 lst-kix_list_7-0 start">
      <li class="priv c12 c11">
        <span class="c2 c0">external providers of IT related
        services</span>
        <span class="c0">, for example AWS</span>
      </li>
      <li class="priv c1 c11">
        <span class="c0">Facebook</span>
      </li>
    </ul>
    <p class="c1">
      <span class="c0">g)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Other
      parties when required by law or as necessary to protect Eka
      ry</span>
      <span class="c2 c0">: Eka rymay share your Personal Data with
      other third parties:</span>
    </p>
    <p class="c1">
      <span class="c2 c0">-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;to
      comply with the law, regulatory requests, court orders, subpoena,
      or legal processes;</span>
    </p>
    <p class="c1">
      <span class="c2 c0">-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;to
      verify or enforce compliance with Eka ry&#8217;s policies and
      agreements; and</span>
    </p>
    <p class="c1">
      <span class="c2 c0">-&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;to
      protect the rights, property or safety of Eka ry and/or its
      customers;</span>
    </p>
    <p class="c1">
      <span class="c2 c0">h)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Other
      parties in connection with corporate transactions: Eka ry may
      share your Personal Data with other third parties in the context
      of a divestiture of all or a portion of its business, or
      otherwise in connection with a merger, consolidation, change in
      control, reorganisation or liquidation of all or part of
      [company]&#8217;s business;</span>
    </p>
    <p class="c1">
      <span class="c2 c0">i)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Other
      parties with your consent or upon your instruction: Eka ry may
      share your Personal Data with third parties when you consent to
      or request such sharing; and</span>
    </p>
    <p class="c1">
      <span class="c2 c0">j)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Any
      other third party communicated to you by Eka ry prior to sharing
      your Personal Data with that third party.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Please be aware that third party recipients
      as referred to under points c) to j) above &#8211; especially
      service providers who may offer products and/or services to you
      through Eka ry Services or via their own channels &#8211; may
      separately collect Personal Data from you. In such case, these
      third parties are solely responsible for the control of such
      Personal Data and your dealings with them will fall under their
      terms and conditions.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">From time to time we may partner or enter
      into arrangements with another party to provide specific benefits
      and/or services to you as our customer. We will provide to such
      partners the information that we believe is reasonably necessary
      for them to provide such benefits or services to you. If you do
      not wish to receive marketing communications from our partners or
      us, you may express your preference to not be so contacted by
      sending a letter, calling or e-mailing the Eka ry Administrative
      Offices at the contact information below informing us of your
      preference.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">15.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;USE
      OF SOCIAL MEDIA</span>
    </p>
    <p class="c1">
      <span class="c2 c0">If you use on a [company] Service a specific
      login from a social media (for example, your Facebook account),
      [company] records your Personal Data available on this social
      media and your use of such social media means that you have
      explicitly allowed the communication of your Personal Data
      recorded by [company] through its Service.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Eka ry sometimes facilitates the publication
      of (personal) data via social media such as Facebook, LinkedIn,
      Twitter and others. These social media have their own terms of
      use which you need to take into account when active on social
      media.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Publication on social media may have certain
      consequences, including for your privacy or for the privacy of
      persons whose Personal Data you share, such as, for example, the
      impossibility to withdraw a publication within a short term. You
      are fully responsible for your publications. Eka ry will not have
      any responsibility and liability in this regard.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">16.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;TRANSFERS
      OUTSIDE THE EEA</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Your Personal Data may be transferred to
      recipients, which may be outside the EEA, and may be Processed by
      us and these recipients outside the EEA. In connection with any
      transfer of your Personal Data to outside the EEA that do not
      offer the same level of data protection as in the EEA,</span>
    </p>
    <p class="c1">
      <span class="c2 c0">Eka ry will implement appropriate safeguards
      to ensure an adequate level of protection of your Personal Data.
      These safeguards can for instance consist in agreeing with
      recipients on standard data protection clauses in the form of
      template transfer clauses adopted by the Commission guaranteeing
      such adequate level of protection.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">17.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;INAPPLICABILITY
      OF PRIVACY STATEMENTS OF ANY LINKED WEBSITES OR OTHER THIRD
      PARTIES</span>
    </p>
    <p class="c1">
      <span class="c2 c0">This Policy only addresses theEka ry use and
      disclosure of your Personal Data. As the Services contain links
      to other websites, please be aware that we are not responsible
      for the privacy practices of such other websites, and we are not
      liable for their misuse of Personal Data. We encourage you to be
      aware that when you go to another website, you should carefully
      read their privacy statement.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">18.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;LEGAL
      INFORMATION</span>
    </p>
    <p class="c1">
      <span class="c2 c0">The requirements of this Policy supplement,
      and do not replace, any other requirements existing under
      applicable data protection law. In case of contradiction between
      what is written in this Policy and requirements in applicable
      data protection law, applicable data protection law will have
      priority.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">By using (one of) the Services, you agree to
      the terms and conditions contained in this Policy and/or any
      other agreement that we might have with you. If you do not agree
      to any of these terms and conditions, you should not use any of
      the Eka ry Services.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">You agree that any dispute over privacy or
      the terms contained in this Policy, or any other agreement we
      have with you, will be governed by the laws of Switzerland. Any
      dispute related to this Policy or the Website will be adjudicated
      exclusively by the courts of Finland.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">As our organization, customers and benefits
      change from time to time, this Policy is expected to change as
      well. We reserve the right to amend the Policy at any time, for
      any reason, without notice to you, other than the posting of the
      amended Policy on the Website and in the App. We may e-mail
      periodic reminders of our notices and terms and conditions and
      will e-mail Eka ry customers of material changes thereto, but you
      should check our Website frequently to see the current Policy
      that is in effect and any changes that may have been made to it.
      The provisions contained herein supersede all previous notices or
      statements regarding our privacy practices.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">19.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;CONTACT</span>
    </p>
    <p class="c1">
      <span class="c2 c0">If you have any questions, issues or
      complaint concerning our Policy, or any concern about privacy at
      [company] or the use of the Services in general, or to exercise
      your rights, such as your rights of access, rectification,
      restriction, portability&#8230;, within the context of this
      Policy, you may contact the Data Protection Coordinator at the
      Contact Point (see section 3 &#8220;Who can you contact in case
      you have questions or requests?&#8221;).</span>
    </p>
    <p class="c1">
      <span class="c2 c3">20.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;DEFINITIONS</span>
    </p>
    <p class="c1">
      <span class="c2 c0">In this Policy, the following terms have the
      following meanings:</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(a)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Contact
      Point means the contact point where you can address to the Data
      Protection Coordinator your questions, requests or complaints
      regarding this Policy and/or (the Processing of) your Personal
      Data.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(b)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Data
      Controller means the organisation which determines the purposes
      for which, and the manner in which, your Personal Data is
      Processed. Concretely, the Data Controller(s) is Eka ry.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(c)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Data
      Processor means the person or organisation which Processes your
      Personal Data on behalf of the Data Controller.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(d)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Data
      Protection Coordinator means the person appointed by Eka ry in
      the relevant jurisdiction to handle your questions and
      requests.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(e)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;EEA
      means the European Economic Area (= member states of the European
      Union + Iceland, Norway, and Liechtenstein).</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(f)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Personal
      Data is any data relating to you directly or which allows your
      identification, such as, for example, your name, telephone
      number, email address, bank account details, (geo-)location,
      etc.</span>
    </p>
    <p class="c1">
      <span class="c2 c0">(g)&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Processing
      / to Process / Processed means the collection, accessing and all
      forms of use of your Personal Data.</span>
    </p>
    <p class="c1">
      <span class="c2 c3">21.&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;UPDATES</span>
    </p>
    <p class="c7">
    <span class="c2 c0">Updates to this</span> 
    <span class="c0">Eka ry</span>
    <span class="c2 c0">&#160;Data Privacy Policy</span></p>
    <p class="c7">
      <span class="c2 c0">We may update this Global Data Privacy Policy
      from time to time. If we modify our Global Data Privacy Policy,
      we will post the revised version here, with an updated revision
      date. You agree to visit these pages periodically to be aware of
      and review any such revisions. If we make material changes to our
      Global Data Privacy Policy, we may also notify you by other means
      prior to the changes taking effect, such as by posting a notice
      on our Website or App or by sending you a notification. By
      continuing to use our website after such revisions are in effect,
      you accept and agree to the revisions and to abide by
      them.</span>
    </p>
    <p class="c7">
    <span class="c2 c0">The</span> 
    <span class="c0">Eka ry</span>
    <span class="c2 c0">&#160;Data Privacy Policy was revised and
    posted as of</span>
    <span class="c0">&#160;April 1, 2020</span></p>
    <p class="c1 c15"></p>
    <p class="c1">
      <span class="c2 c0">Eka ry</span>
    </p>

    </td>
  </tr>
</table>
</body>
@endsection
