$logoPath: '/img/Kesko-Logo.png';

$background: white;
$headingColor: #00205b;
$textColor: #00205b;

$needButtonTextColor: white;

$linkColor: #00205b;
$linkHoverColor: #405884;
$linkActiveColor: #ff6900;

$doColor: #189F35;
$dontColor: #DA1A1A;