{% extends "base.html" %}

{% block content %}

<div class="container h-100">

    <div class="row h-100 justify-content-center align-items-center">
    
    <form class="form-inline" action="/meta" method="post" style="max-width: 440px;">
    
    <div class="form-group col-12">
      <input type="text" class="form-control form-css" id="input-name" placeholder="Your name" name="name">
    </div>
    <div class="form-group col-12" id="div-location">
    <input type="text" class="form-control input-lg form-css" id="input-location" placeholder="Your location" name="location">
    </div>
    <div class="form-group col-12">
      <select class="form-control select-css" id="input-state" name="state">
        <option value="null" selected disabled>Your status</option>
        <option value="quarantine">in self-quarantine</option>
        <option value="self-isolation">in self-isolation</option>
        <option value="cant-go-out">unable to go out</option>
      </select>
    </div>

    <div class="form-group col-12">
      <select class="form-control select-css" id="input-contact-class" name="contact-class">
        <option value="null" selected disabled>Contact me</option>
        <option value="telephone">Call</option>
        <option value="sms">SMS</option>
        <option value="whatsapp">WhatsApp</option>
        <option value="telegram">Facebook</option>
      </select>
      <input type="text" class="form-control form-css" id="input-contact" placeholder="to number" name="number" style="width: 180px;">
    </div>

    

    <div class="form-group col-12">
      <label for="requirement"></label>
      <textarea class="form-control form-css" rows="4" id="input-requirement" name="requirement" placeholder="Message" style="width: 390px;"></textarea>
    </div>

    <div class="form-group col-12">

      <button type="image" class="button-image mx-auto d-block"><img src="static/send.jpg" width=120px;></button>
    
    </div>

  </form>
  <script>
      $("#input-name").focus(); 
      function showPosition() {
          if(navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
  
          } else {
              alert("Sorry, your browser does not support HTML5 geolocation.");
          }
      }
      function successCallback(position) {
          var positionInfo = "Your current location";
          //document.getElementById("result").innerHTML = positionInfo;
          $( "#input-location" ).val(positionInfo);
      }
      function errorCallback(error){
          $( "#input-location" ).val("Dharamsala");
      }
      $( "#input-location" ).select(function() {
          //$( "#input-location" ).val("location is set!");
          showPosition();
      });
      $( "#div-location").click(function() {
            $( "#input-location" ).select();
      });
  </script>
{% endblock %}